@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

$ez-white: #fff;
$ez-color-hyperlink: #0645ad;
$ez-color-hyperlink-hover: darken($ez-color-hyperlink, 15%);
$ez-admin-transition: cubic-bezier(0.25, 0.8, 0.25, 1);

.ez-custom-tag {
    &__link-controls {
        .btn.btn-secondary {
            width: 100%;
            margin: calculateRem(5px) calculateRem(5px) calculateRem(5px) 0;
            color: $ez-white;
        }

        .ez-custom-tag--link {
            display: block;
            width: 100%;
            padding: calculateRem(10px) calculateRem(5px) calculateRem(5px) calculateRem(5px);
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            color: $ez-color-hyperlink;
            text-decoration: none;
            cursor: pointer;
            transition: color 0.3s $ez-admin-transition;

            &:hover,
            &:focus {
                color: $ez-color-hyperlink-hover;
                text-decoration: underline;
            }
        }
    }
}
